:root {
  --ifm-color-primary: #ee4c2c;
  --ifm-color-primary-dark: #dc3a1a;
  --ifm-color-primary-darker: #d03618;
  --ifm-color-primary-darkest: #ab2c14;
  --ifm-color-primary-light: #f06040;
  --ifm-color-primary-lighter: #f16d50;
  --ifm-color-primary-lightest: #f48e78;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #f06040;
  --ifm-color-primary-dark: #ee4c2c;
  --ifm-color-primary-darker: #dc3a1a;
  --ifm-color-primary-darkest: #ab2c14;
  --ifm-color-primary-light: #f27a60;
  --ifm-color-primary-lighter: #f48e78;
  --ifm-color-primary-lightest: #f8b8a8;
}
